<div class="row">
	<div class="span4 offset4">
		<div class="well">
			<center>
    			<h4>Всего в базе данных</h4><br>
    		</center>
			<ul class="unstyled">
				<li>Грузовладельцев: <span class="badge"><%= @companysCount %></span></li>
				<li>Грузоперевозчиков: <span class="badge"> <%= @driversCount %></span></li>
				<li>Заявок: <span class="badge"><%= @tendersCount %></span></li>
					<ul>
						<li>Текущие: <span class="badge"><%= @tendersDoCount %></span></li>
						<li>Выполненные: <span class="badge"><%= @tendersDoneCount %></span></li>
					</ul>
				<li>Пользователей: <span class="badge"><%= @usersCount %></span></li>
					<ul>
						<li>Суперадминистраторов: <span class="badge"><%= @usersSaCount %></span></li>
						<li>Администраторов: <span class="badge"><%= @usersACount %></span></li>
						<li>Диспетчеров: <span class="badge"><%= @usersDCount %></span></li>
					</ul>	
			</ul>

   		 </div>	
	</div>
</div>
<div class="row">
	<div class="offset1 span5">
		<div class="well">
			<a class="Mownperiod" href="#today">За сегодня</a><br>
			<a class="Mownperiod" href="#yesterday">За вчера</a><br>
			<a class="Mownperiod" href="#week">За неделю</a><br>
			<a class="Mownperiod" href="#month">За месяц</a><br>
			<a class="Mownperiod" href="#year">За год</a><br><br><br>
   		</div>	
   	</div>
	<div class="span4">
		<div class="well" id="update_stat_id">
			     <%= render :partial => 'update_stats'  %>
   		</div>   		
	</div>
</div>			
<script type="text/javascript">
jQuery(function($) {

  $("a.Mownperiod").live("click",function() {
    
    var period = $(this).attr('href').split('#');;
    //alert(period[1]);
    if (period) {
     // var vesJs = $('#filter_ves :selected').text();
   //alert(vesJs);
    jQuery.post('/statistics/updatestats/' + period[1], function(data){
      // $('#filter_marka').removeAttr("disabled");
        $("#update_stat_id").html(data);
       // alert(data);
    })
    }
    else {
      // $('#filter_marka').attr("disabled", "disable");
       //$('#filter_marka').empty();
      }
    return false;
  
  });


}); //закрытие $

</script>
<%= now = Time.now.to_date  %><br>
<%= now.year %><br>
<%= -1.month.from_now %><br>
<%= DateTime.parse(Time.now.to_s) %><br>y
<%= Time.now.midnight %><br>
<hr>
<% Company.all.each do |company| %>
	<% if company.updated_at >= -1.month.from_now %>
	<%= company.updated_at %> <%= -1.month.from_now %><br>
<% end %>
<% end %>