<div class="row">
	<div class="span4 offset4">
		<div class="well">
			<center>
    			<h4>Всего в базе данных</h4><br>
    		</center>
			<ul class="unstyled">
				<li>Грузовладельцев: <span class="badge"><%= @companysCount %></span></li>
				<li>Грузоперевозчиков: <span class="badge"> <%= @driversCount %></span></li>
				<li>Заявок: <span class="badge"><%= @tendersCount %></span>  <span class="badge badge-warning"><%= @tendersSum  %> руб.</span></li>
					<ul>
						<li>Текущие: <span class="badge"><%= @tendersDoCount %></span>  <span class="badge badge-warning"><%= @tendersDoSum %> руб.</span></li>
						<li>Выполненные: <span class="badge"><%= @tendersDoneCount %></span>  <span class="badge badge-warning"><%= @tendersDoneSum  %> руб.</span></li>
					</ul>
				<li>Пользователей: <span class="badge"><%= @usersCount %></span></li>
					<ul>
						<li>Суперадминистраторов: <span class="badge"><%= @usersSaCount %></span></li>
						<li>Администраторов: <span class="badge"><%= @usersACount %></span></li>
						<li>Диспетчеров: <span class="badge"><%= @usersDCount %></span></li>
					</ul>	
			</ul>

   		 </div>	
	</div>
</div>
<div class="row">
	<div class="offset1 span5">
		<div class="well">
			<div class="pull-right">
				<div class="controls">
	               <%= collection_select :filter, :user, @usersList, :id, :FIO, :prompt => 'Все пользователи' %>
	            </div>
			</div>
			<div calss="pull-left">
				<a class="Mownperiod" href="#today">За сегодня</a><br>
				<a class="Mownperiod" href="#yesterday">За вчера</a><br>
				<a class="Mownperiod" href="#week">За неделю</a><br>
				<a class="Mownperiod" href="#month">За месяц</a><br>
				<a class="Mownperiod" href="#year">За год</a><br><br><br>
			</div>
		
   		</div>	
   	</div>
	<div class="span4">
		<div class="well" id="update_stat_id">
			     <%= render :partial => 'update_stats'  %>
   		</div>   		
	</div>
</div>			
<script type="text/javascript">
jQuery(function($) {

  $("a.Mownperiod").live("click",function() {
    
    var user_id = $('#filter_user :selected').val();
    if (!user_id){
 	user_id = "all"
    } 
    var period = $(this).attr('href').split('#');
    //alert(user_id);
    if (period && user_id) {
     // var vesJs = $('#filter_ves :selected').text();
   //alert(vesJs);
    jQuery.post('/statistics/updatestats/' + period[1] + '&' + user_id, function(data){
      // $('#filter_marka').removeAttr("disabled");
        $("#update_stat_id").html(data);
       // alert(data);
    })
    }
    else {
      // $('#filter_marka').attr("disabled", "disable");
       //$('#filter_marka').empty();
      }
    return false;
  
  });


}); //закрытие $

</script>
