<%= form_for @tender, :html => {:class => "form-horizontal"} do |f| %>
	      	 <%= render 'shared/error_messages', object: f.object %>
	        <fieldset>
	          <legend>Редактирование заявки</legend>
	          <div class="control-group">
	             <%= f.label :company_id, "Компания", :class => "control-label" %>
	            <div class="controls">
	              <%= f.collection_select :company_id, Company.order('organization ASC').all, :id, :organization, :prompt => 'Выберите компанию' %>
	            </div>
	          </div>

				<div class="control-group">
	             <%= f.label :price, "Стоимость", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :price, :class => "span4", :placeholder => "73000т.р.(Семьдесят три тысячи рублей) из них 15000т.р. предоплата" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :form_oplata, "Форма оплаты", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :form_oplata, :class => "span4", :placeholder => "б/н блиц" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :route, "Маршрут", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :route, :class => "span4", :placeholder => "г. Нижняя Тура - г. Новокузнецк" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :adress_pogruzka, "Адрес погрузки", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :adress_pogruzka, :class => "span4", :placeholder => "г. Нижняя Тура, ул. Малышева 59" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :adress_razgruzki, "Адрес разгрузки", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :adress_razgruzki, :class => "span4", :placeholder => "г. Новокузнецк" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :gruzotpravitel, "Грузоотправитель", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :gruzotpravitel, :class => "span4", :placeholder => "Амис Новокузнецк" %>
	            </div>
	          </div>
	          <div class="control-group">
	             <%= f.label :gruzopoluhatel, "Грузополучатель", :class => "control-label" %>
	            <div class="controls">           
	              <%= f.text_field :gruzopoluhatel, :class => "span4", :placeholder => "Амис Новокузнецк" %>
	            </div>
	          </div>
	          <div class="control-group">
				  <%= f.label :status, "Статус заявки", :class => "control-label" %>
				   <div class="controls">
				          <%= f.radio_button :status, false, :checked => true %> 
				           <%= label :status_do, 'текущая', :class => "radio inline" %>
				           <%= f.radio_button :status, true %> 
				           <%= label :status_done, 'выполненная', :class => "radio inline" %>
				  </div></div>
	          

	          <div class="form-actions">
				 <%= f.submit "Сохранить", :class => "btn btn-primary" %>
				 <%= link_to 'Назад', tenders_path, :class => "btn" %> 
	          </div>
	        </fieldset>
	     <% end %>

