
<h3>Список компаний</h3>
<% if !@companies.blank? %>
 <%= will_paginate @companies, previous_label: h("<"), next_label: h(">") %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Организация</th>
        <th>Контактное лицо</th>
        <th>Телефон</th>
        <th>Груз</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.organization %></td>
          <td><%= company.contlico %></td>
          <td><%= company.phone %></td>
          <td><%= company.gruz %></td>
          <td><%= link_to 'Посмотреть', company %></td>
          <td><%= link_to 'Редактировать', edit_company_path(company) %></td>
          <td><%= link_to 'Удалить', company, confirm: 'Вы уверены?', method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
 
<%= link_to 'Добавить компанию', new_company_path, :class => "btn btn-success" %>

 <%= will_paginate @companies, previous_label: h("<"), next_label: h(">") %>
 <% else %>
<br>
 <div class="alert alert-info">
              <a class="close" data-dismiss="alert"></a>
           Таблица не заполнена</div>
           <%= link_to 'Добавить компанию', new_company_path, :class => "btn btn-success" %>
<% end %>