
<p>
  <b>Организация:</b>
  <%= @company.organization %>
</p>

<p>
  <b>Контактное лицо:</b>
  <%= @company.contlico %>
</p>

<p>
  <b>Телефон:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Груз:</b>
  <%= @company.gruz %>
</p>

<h2>Grades</h2>
<% @company.grades.each do |grade| %>
  <p>
    <strong>Commenter:</strong>
    <%= grade.mark %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= grade.more %>
  </p>
<% end %>
 


<%= link_to 'Редактировать', edit_company_path(@company) %> |
<%= link_to 'Назад', companies_path %>
