 <% if @driverJs %>
  <%= form_for [@driverJs, @driverJs.grades.build], :html => {:class => "form-horizontal"} do |f| %>
           
             <div class="control-group">
        
           <div class="controls">
                  <%= f.radio_button :mark, true %> 
                   <%= label :mark_p, 'Положительный', :class => "radio inline" %><br>
                   <%= f.radio_button :mark, false %> 
                   <%= label :mark_o, 'Отрицательный', :class => "radio inline" %>
                
             </div></div>
            <div class="control-group">
              <%= f.label :more, "Подробнее", :class => "control-label" %>
              <div class="controls">
              <%= f.text_area :more, :class => "span3", :rows => "4" %>
              </div>
            </div>
           
           
       
      </div>
      <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Отменить</a>
       <%= f.submit "Сохранить", :class => "btn btn-primary" %>
          <% end %>

<% else %>

<%  end %>