

<p>
  <b>Имя:</b>
  <%= @driver.fname %>
</p>

<p>
  <b>Фамилия:</b>
  <%= @driver.lname %>
</p>

<p>
  <b>Отчество:</b>
  <%= @driver.oname %>
</p>

<p>
  <b>Телефон:</b>
  <%= @driver.phone %>
</p>

<p>
  <b>Контакты:</b>
  <%= @driver.contacts %>
</p>

<p>
  <b>Марка:</b>
   <% Marka.all.each do |marka| %>
    <% if marka.id == @driver.marka_id %>
    <%= marka.name %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Вес:</b>
  <%= @driver.ves %>
</p>

<p>
  <b>Объем:</b>
  <%= @driver.objem %>
</p>

<p>
  <b>Гос № а/м:</b>
  <%= @driver.gosnomer %>
</p>

<p>
  <b>Гос № п/п:</b>
  <%= @driver.gosnomerp %>
</p>

<p>
  <b>Паспортные данные:</b>
  <%= @driver.seriy %>   <%= @driver.nomerp %>
</p>


<p>
  <b>Кем выдан:</b>
  <%= @driver.kemvidan %>
</p>

<p>
  <b>Когда выдан:</b>
  <%= @driver.kogdavidan %>
</p>

<p>
  <b>Тип кузова:</b>
  <% if @driver.tipkuzova == '1' %>
             <%= @driver.tipkuzova = "попуприцеп" %>
         <% end %>
         <% if @driver.tipkuzova == '2' %>
             <%= @driver.tipkuzova = "грузовик" %>
         <% end %>
         <% if @driver.tipkuzova == '3' %>
             <%= @driver.tipkuzova = "сцепка" %>
         <% end %>
</p>

<p>
  <b>Растентовка:</b><br>
   <% @driver.raztentovkas.each do |rastentovka| %>
    <li><%= rastentovka.name %></li>
  <% end %>

</p>

<h2>Grades</h2>
<% @driver.grades.each do |grade| %>
  <p>
    <strong>Commenter:</strong>
    <%= grade.mark %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= grade.more %>
  </p>
<% end %>
 <%= form_for [@driver, @driver.grades.build], :html => {:class => "form-horizontal"} do |f| %>
           
             <div class="control-group">
        
           <div class="controls">
                  <%= f.radio_button :mark, true %> 
                   <%= label :mark_p, 'Положительный', :class => "radio inline" %><br>
                   <%= f.radio_button :mark, false %> 
                   <%= label :mark_o, 'Отрицательный', :class => "radio inline" %>
                
             </div></div>
            <div class="control-group">
              <%= f.label :more, "Подробнее", :class => "control-label" %>
              <div class="controls">
              <%= f.text_area :more, :class => "span3", :rows => "4" %>
              </div>
            </div>
           
           
       
      </div>
      <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Отменить</a>
       <%= f.submit "Сохранить", :class => "btn btn-primary" %>
          <% end %>
<%= link_to 'Редактировать', edit_driver_path(@driver) %> |
<%= link_to 'Список водителей', drivers_path %>
